/* Estilos index.html */

html, body {
    margin: 0;
    padding: 0;
  }

.menu{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    padding: 1%;
    background-color: rgb(62, 99, 99);
    margin: 0;

}

.menu li{
    display: inline;
}

.center{
    text-align: center;
}

.titulo{
    text-align: center; 
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;   
}

.container p{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    padding-left: 5%;
}

.botao-menu a{
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition-duration: 0.4s;


}

.botao-menu a:hover{
    color: rgb(214, 212, 91);
}


.foto-perfil{
    width: 300px;
    height: 300px;
    border-radius: 50%
}

.titulo-galeria{
    text-align: center;
    text-decoration: underline;
    margin-top: 5%;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
}

.img-galeria{
    width: 350px;
    height: 250px;
    padding: 1%;
}

.titulo-video{
    text-align: center;
    text-decoration: underline;
}

.video{
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
    
}

.redes-sociais{
    display: flex;
    justify-content: center;
    
}

.redes-sociais-img{
    display: inline;
    height: 30px;
    width: 30px;
    padding: 10px;

}

.rodape-texto{
    display: flex;
    justify-content: center;
    padding: 0,8%;
    background-color: rgb(62, 99, 99);
}


/* Estilos contato.html */

.formulario input{
    width: 435px;
}

.formulario button{
    width: 445px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;

    transition-duration: 0.4s;
    background-color: white;
    border: 2px solid  rgb(62, 99, 99)

    
}

.formulario button:hover{
    background-color: rgb(62, 99, 99);
    color: white

}

.titulo-endereco{
    text-align: center;
    padding-top: 3%;
}

.endereco{
    text-align: center;
}

.contato{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-bottom: 5%;
}